body {
    background-image: url("../assets/trans-flag.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
}

#text {
    color: #5BCEFA;
    text-align: center;
}