body {
    background-image: url("../assets/trans-flag.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    user-select: none;
}

.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    height: 80vh;
    width: 80vw;
    background-color: #00000046;
    border-radius: 13px;
}